In [1]:
import pandas as pd
from datetime import datetime, timedelta
TODAYS_DATE = datetime.now().strftime("%Y-%m-%d")

# WHO

In [20]:
# WHO <5 years  
WHO5_boy = pd.read_excel("WHO_original_references/bfa-boys-zscore-expanded-tables.xlsx")  
WHO5_girl =  pd.read_excel("WHO_original_references/bfa-girls-zscore-expanded-tables.xlsx") 

#  WHO 5-19
WHO19_boy = pd.read_excel("WHO_original_references/bmi-boys-z-who-2007-exp.xlsx")
WHO19_girl = pd.read_excel("WHO_original_references/bmi-girls-z-who-2007-exp.xlsx")

In [21]:
# convert WHO5 Days to months
month_conversion = 30.3475 
months, rows_to_get_no_zero = [], []
for i in range(0, 60):
    month = i + 1
    months.append(month)
    
    month_in_df = int(round(month_conversion * month, 0))
    rows_to_get_no_zero.append(month_in_df)
    
    
print(rows_to_get_no_zero)
x = 0
xs = rows_to_get_no_zero
rows_to_get =[x] + xs
print(rows_to_get)

[30, 61, 91, 121, 152, 182, 212, 243, 273, 303, 334, 364, 395, 425, 455, 486, 516, 546, 577, 607, 637, 668, 698, 728, 759, 789, 819, 850, 880, 910, 941, 971, 1001, 1032, 1062, 1093, 1123, 1153, 1184, 1214, 1244, 1275, 1305, 1335, 1366, 1396, 1426, 1457, 1487, 1517, 1548, 1578, 1608, 1639, 1669, 1699, 1730, 1760, 1791, 1821]
[0, 30, 61, 91, 121, 152, 182, 212, 243, 273, 303, 334, 364, 395, 425, 455, 486, 516, 546, 577, 607, 637, 668, 698, 728, 759, 789, 819, 850, 880, 910, 941, 971, 1001, 1032, 1062, 1093, 1123, 1153, 1184, 1214, 1244, 1275, 1305, 1335, 1366, 1396, 1426, 1457, 1487, 1517, 1548, 1578, 1608, 1639, 1669, 1699, 1730, 1760, 1791, 1821]

In [22]:
# Extract months 
WHO5_girl_months = WHO5_girl[WHO5_girl['Day'].isin(rows_to_get)].copy()
WHO5_boy_months = WHO5_boy[WHO5_boy['Day'].isin(rows_to_get)].copy()

In [23]:
# Replace day with month using a new index  
WHO5_girl_months.reset_index(inplace =True, drop=True)
WHO5_boy_months.reset_index(inplace=True, drop=True)


WHO5_girl_months.loc[:, "age_months"] = pd.Series(range(0, len(WHO5_girl_months) + 1))
WHO5_boy_months.loc[:, "age_months"] = pd.Series(range(0, len(WHO5_boy_months) + 1))

In [24]:
WHO5_girl_months.drop(columns=['Day'], inplace=True)
WHO5_boy_months.drop(columns=['Day'], inplace=True)

In [25]:
#rename columns
WHO19_girl = WHO19_girl.rename(columns={"Month": "age_months"})
WHO19_boy = WHO19_boy.rename(columns={"Month": "age_months"})

WHO_girl = pd.concat([WHO5_girl_months, WHO19_girl])
WHO_boy = pd.concat([WHO5_boy_months, WHO19_boy])

#add column for sex 
WHO_girl['sex'] = 2
WHO_boy['sex'] = 1

In [26]:
# Combine all to one df
WHO  = pd.concat([WHO_boy, WHO_girl])

# Change column order 
column_order = ['age_months','sex','L','M', 'S', 'SD4neg', 'SD3neg', 'SD2neg', 'SD1neg', 'SD0', 'SD1', 'SD2', 'SD3', 'SD4']
WHO = WHO[column_order].copy()
# drop columns if you want 
# WHO.drop(columns=['SD4neg', 'SD3neg', 'SD2neg', 'SD1neg',], inplace=True)

In [39]:
difference= []
for index, row in WHO.iterrows():
    difference.append(row['SD3']-row['SD2'])
SD5 = [x*2 for x in difference]
SD6 = [x*3 for x in difference]
SD7 = [x*4 for x in difference]
SD8 = [x*5 for x in difference]




WHO['SD5'] = round((WHO['SD3'] + SD5),3)
WHO['SD6'] = round((WHO['SD3'] + SD6),3)
WHO['SD7'] = round((WHO['SD3'] + SD7),3)
WHO['SD8'] = round((WHO['SD3'] + SD8),3)

difference = [round(x,3) for x in difference]
WHO['diff_SD2_SD3'] = difference

In [40]:
# Final DataFrame 
WHO.to_csv(f"{TODAYS_DATE}_WHO_original_clean.csv", index=False)

In [41]:
WHO

,age_months,sex,L,M,S,SD4neg,SD3neg,SD2neg,SD1neg,SD0,SD1,SD2,SD3,SD4,SD5,SD6,SD7,SD8,diff_SD2_SD3
0,0,1,-0.3053,13.4069,0.09560,9.235,10.184,11.133,12.201,13.407,14.773,16.326,18.100,19.874,21.648,23.422,25.196,26.970,1.774
1,1,1,0.2738,14.9140,0.09035,10.116,11.253,12.391,13.610,14.914,16.306,17.791,19.371,20.951,22.531,24.111,25.691,27.271,1.580
2,2,1,0.1113,16.3231,0.08676,11.369,12.534,13.700,14.960,16.323,17.795,19.384,21.098,22.811,24.526,26.240,27.954,29.668,1.714
3,3,1,0.0077,16.8950,0.08496,11.928,13.091,14.253,15.518,16.895,18.393,20.022,21.794,23.567,25.338,27.110,28.882,30.654,1.772
4,4,1,-0.0709,17.1533,0.08381,12.219,13.369,14.520,15.778,17.153,18.658,20.304,22.107,23.910,25.713,27.516,29.319,31.122,1.803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,224,2,-0.7819,21.3752,0.14405,12.977,14.731,16.484,18.648,21.375,24.905,29.626,36.219,42.812,49.405,55.998,62.591,69.184,6.593
164,225,2,-0.7738,21.3884,0.14414,12.971,14.729,16.488,18.657,21.388,24.920,29.637,36.209,42.781,49.353,55.925,62.497,69.069,6.572
165,226,2,-0.7658,21.4014,0.14423,12.964,14.728,16.491,18.665,21.401,24.935,29.649,36.200,42.751,49.302,55.853,62.404,68.955,6.551
166,227,2,-0.7577,21.4143,0.14432,12.958,14.726,16.494,18.673,21.414,24.951,29.659,36.190,42.720,49.252,55.783,62.314,68.845,6.531
167,228,2,-0.7496,21.4269,0.14441,12.951,14.724,16.497,18.681,21.427,24.965,29.670,36.179,42.689,49.197,55.706,62.215,68.724,6.509